@font-face {
    font-family: regular-font;
    src: url("../fonts/PTSans-Regular.ttf");
}

@font-face {
    font-family: bold-font;
    src: url("../fonts/PTSans-Bold.ttf");
}

@font-face {
    font-family: Montserrat-VariableFont;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: Poppins-Light;
    src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: Poppins-ExtraBold;
    src: url("../fonts/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url("../fonts/Poppins-ExtraBoldItalic.ttf");
}