@import "../base/typography";

body {
    margin: 0;

    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            font-size: 2.4rem;
        }

        .nav-container {
            display: flex;
            justify-content: center;
    
    
            nav {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 75%;
                margin-top: 15px;
        
                .nav-btn-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 40px;
        
                    .nav-btn {
                        display: flex;
                        align-items: center;
                        gap: 27px;
    
                       li {
                            font-family: Montserrat-VariableFont;
                            list-style-type: none;
                            background: none;
                            border: none;
                            font-size: 0.9rem;
                            cursor: pointer;
                            transition: 0.6s;
                        }
    
                        li:hover {
                            color: rgba(0, 0, 0, 0.315);
                        }

                        .home-btn {
                            color: rgba(0, 0, 0, 0.315);
                        }
                    }
                }
    
                .nav-icon-btn {
                    display: flex;
                    align-items: center;
                    gap: 20px;
    
                    .g-plus {
                        width: 24px;
                        height: 24px;
                    }

                    img {
                        width: 18px;
                        height: 18px;
                        cursor: pointer;
                    }
                }
            }
        }
    
        .title-items {
            display: flex;
            justify-content: center;
            align-items: center;
    
            .title-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 75%;
                margin-top: 20px;
        
                .title {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    font-family: Poppins-Light;
                    font-size: 1.2rem;
        
                    span {
                        font-family: Poppins-ExtraBold;
                    }
        
                    button {
                        font-family: Montserrat-VariableFont;
                        width: 170px;
                        height: 50px;
                        background-color: black;
                        color: white;
                        border: 1px solid black;
                        border-radius: 6px;
                        transition: 0.7s;
                    }
    
                    button:hover {
                        background-color: white;
                        color: black;
                        border: 1px solid black;
                    }
                }
        
                img {
                    width: 650px;
                    height: 550px;
                }
            }
        }

        .achievement-container {
            background-color: black;
            margin-top: 350px;
            height: 560px;


            .option-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 30px;
                font-family: Poppins-Light;
                position: relative;
                bottom: 150px;

                .option {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 40px;
                    width: 350px;
                    height: 250px;
                    background-color: white;
                    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.09);
                }
            }

            .achievement-text-container {
                    position: relative;
                    bottom: 130px;

                .achievement-text {
                    font-family: Montserrat-VariableFont;
                    text-align: center;
                    color: white;
    
                    p {
                        font-size: 1.2rem;
                    }
                }
    
                .achievement-title {
                    font-size: 2.4rem;
                }
    
                .achievement-number {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 100px;
                    text-align: center;
                    font-family: Montserrat-VariableFont;
                    color: white;
    
                    .num {
                        
                        h1 {
                            font-size: 3rem;
                        }
    
                        h4 {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }

        .result-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 120px;
            font-family: Montserrat-VariableFont;
            margin-top: 100px;

            button {
                font-family: Montserrat-VariableFont;
                width: 170px;
                height: 50px;
                background-color: black;
                color: white;
                border: 1px solid black;
                border-radius: 6px;
                transition: 0.7s;
            }

            button:hover {
                background-color: white;
                color: black;
                border: 1px solid black;
            }

            .chart-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 50px;

                .chart {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-family: Montserrat-VariableFont;

                    .inner-chart {
                        display: flex;
                        flex-direction: column-reverse;
                        background-color: rgba(0, 0, 0, 0.276);
                        width: 20px;
                        height: 300px;
        
                        .last-chart-1 {
                            display: flex;
                            align-items: start;
                            background-color: black;
                            width: 100%;
                            height: 80%;

                            p {
                                position: relative;
                                left: 25px;
                            }
                        }
        
                        .last-chart-2 {
                            display: flex;
                            align-items: start;
                            background-color: black;
                            width: 100%;
                            height: 90%;

                            p {
                                position: relative;
                                left: 25px;
                            }
                        }

                        .last-chart-3 {
                            display: flex;
                            align-items: start;
                            background-color: black;
                            width: 100%;
                            height: 60%;

                            p {
                                position: relative;
                                left: 25px;
                            }
                        }

                        .last-chart-4 {
                            display: flex;
                            align-items: start;
                            background-color: black;
                            width: 100%;
                            height: 50%;

                            p {
                                position: relative;
                                left: 25px;
                            }
                        }

                        .last-chart-5 {
                            display: flex;
                            align-items: start;
                            background-color: black;
                            width: 100%;
                            height: 70%;

                            p {
                                position: relative;
                                left: 25px;
                            }
                        }

                        .last-chart-6 {
                            display: flex;
                            align-items: start;
                            background-color: black;
                            width: 100%;
                            height: 80%;

                            p {
                                position: relative;
                                left: 25px;
                            }
                        }
                    }
                }
            }
        }

        .info-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 60px;
            font-family: Montserrat-VariableFont;

            .info-container-text {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            img {
                width: 700px;
                height: 450px;
            }
        }

        .aliquam-container {
            text-align: center;
            align-items: center;
            font-family: Montserrat-VariableFont;
            color: white;
            background-color: #282828;
            padding: 80px 0px 80px 0px;

            button {
                font-family: Montserrat-VariableFont;
                width: 170px;
                height: 50px;
                background-color: rgb(255, 255, 255);
                color: #282828;
                border: 1px solid rgb(255, 255, 255);
                border-radius: 6px;
                transition: 0.7s;
            }

            button:hover {
                background-color: #282828;
                color: rgb(255, 255, 255);
                border: 1px solid rgb(255, 255, 255);
            }
        }

        .pricing-container {
            display: flex;
            flex-direction: column;
            gap: 50px;
            font-family: Montserrat-VariableFont;
            margin-top: 80px;

            .pricing-title {
                text-align: center;
            }

            .pricing-plans {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                // gap: 50px;

                #plan-1 {
                    position: relative;
                    left: 10px;

                }

                #plan-2 {
                    position: relative;
                    top: 50px;
                }

                #plan-3 {
                    position: relative;
                    right: 10px;
                    z-index: -1;
                }

                button {
                    font-family: Montserrat-VariableFont;
                    width: 160px;
                    height: 50px;
                    background-color: black;
                    color: white;
                    border: 1px solid black;
                    border-radius: 6px;
                    transition: 0.7s;
                }
    
                button:hover {
                    background-color: white;
                    color: black;
                    border: 1px solid black;
                }

                .plan {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 300px;
                    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.042);
                    border-radius: 6px;
                    background-color: white;
                    padding: 50px;

                    .plan-title {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
    
                    .plan-items {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        
        
                        .items {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 5px;
        
                            img {
                                width: 16px;
                                height: 16px;
                            }
                            
                            p {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }
        }

        .qa-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 50px;
            font-family: Montserrat-VariableFont;
            margin-top: 80px;

            img {
                width: 510px;
                height: 420px;
            }
            
            .qa {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .qa-items {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 700px;
                    padding-top: 4px;
                    border-top: 0.8px solid rgba(0, 0, 0, 0.241);
                    cursor: pointer;

                    img {
                        width: 15px;
                        height: 15px;
                    }
                }

                #last-qa-item {
                    padding-bottom: 6px;
                    border-bottom: 0.8px solid rgba(0, 0, 0, 0.241);
                }

            }
            
        }

        .posting-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 50px;
            font-family: Montserrat-VariableFont;
            margin-top: 100px;


            .post-1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;

                h2 {
                    font-size: 1.4rem;
                }

                img {
                    width: 390px;
                    height: 280px;
                    border-radius: 8px 8px 0 0;
                }

            }
        }

        .touch-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            font-family: Montserrat-VariableFont;
            margin-top: 100px;

            .touch-title {
                text-align: center;
            }

            .form-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 50px;

                img {
                    width: 600px;
                    height: 600px;
                }
                
                .form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;

                    input {
                        width: 500px;
                        height: 50px;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.181);
                        border-radius: 5px;
                        font-size: 1rem;
                    }

                    #message {
                        padding-bottom: 250px;
                    }

                    button {
                        font-family: Montserrat-VariableFont;
                        width: 120px;
                        height: 50px;
                        background-color: black;
                        color: white;
                        border: 1px solid black;
                        border-radius: 6px;
                        transition: 0.7s;
                    }
        
                    button:hover {
                        background-color: white;
                        color: black;
                        border: 1px solid black;
                    }
                }
            }
        }

        .footer-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
            background-color: black;
            height: 300px;

            .footer {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                gap: 300px;
                margin-top: 100px;

                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    li {
                        font-family: Montserrat-VariableFont;
                        list-style-type: none;
                        background: none;
                        border: none;
                        font-size: 0.9rem;
                        color: white;
                        cursor: pointer;
                        transition: 0.6s;
                    }
    
                    li:hover {
                        color: rgba(255, 255, 255, 0.315);
                    }

                    .home-btn {
                        color: rgba(255, 255, 255, 0.315);
                    }
                }

                .footer-icon {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 20px;

                    .g-plus {
                        width: 24px;
                        height: 24px;
                    }
    
                    img {
                        width: 18px;
                        height: 18px;
                        cursor: pointer;
                    }
                }
            }

            .footer-end {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                font-family: Poppins-ExtraBoldItalic;
                font-size: 0.9rem;
                color: #838383;
                width: 1145px;
                height: 70px;
                border-top: 1px dotted #83838342;

                span {
                    color: white;
                }

            }
        }
    }
}